textarea {
    box-sizing: border-box; /* fit parent width */
    min-height: 150px;
    height: calc(100% - 150px);
    width: 100%;
}

div.controls {
    position: absolute;
    left: 0;
    top: 0;
}

.row {
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}

div#table {
    overflow:scroll;
}
